
@import url('https://fonts.googleapis.com/css?family=Roboto');

// 	COLORS

$menuColor: #97b3ce;
$menuBackColor: #1f2637;
$headerColor: #eef1f7;
$mainFontColor: #444c63;
$mainFontColorLight: #97b3ce;
$aciteMenu: #15a4fa;
$header-bc-color: #eef1f7;

$red: #f2795a;
$darkRed: darken($red, 5%);
$white: #ffffff;
$black: #000000;

// FONTS

$fontSize: 16px;
$mainFont: 'Roboto', sans-serif;
